.tituloError {
  color: white;
  font-family: monospace;
  font-size: 5.5em;
  margin-left: 40px;

  position: relative;
  right: 60px;
  top: 30px;
}
.parrafoError {
  color: rgb(116, 102, 102);
  font-family: monospace;
  font-size: 1.5em;
  margin-left: 40px;
}
